html,
body {
    box-sizing: border-box;
    background-color: rgb(128, 64, 34);
}

#library_container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#book_add__button {
    font-size: .8rem;
    background-color: rgb(0, 135, 0);
    color: white;
    text-decoration: none;
    padding-inline: 15px;
    padding-block: 5px;
    border: 2px solid rgb(0, 135, 0);
    border-radius: 8px;
    outline: 2px solid white;
    outline-offset: -4px;
    transition: width 250ms ease-in-out, background-color 250ms ease-in-out, border 250ms ease-in-out, height 700ms ease-in-out, color 200ms ease-in-out;
    width: 150px;
    align-self: center;
    cursor: pointer;
    height: 40px;

    &:hover {
        background-color: rgb(0, 118, 0);
        border: 2px solid rgb(0, 118, 0);
    }
}

.width-extend {
    width: 70% !important;
    height: 70% !important;

    &:hover {
        background-color: rgb(0, 135, 0) !important;
        border: 2px solid rgb(0, 135, 0) !important;
        cursor: unset !important;
    }
}

.width-hide {

    &:hover {
        background-color: rgb(0, 135, 0) !important;
        border: 2px solid rgb(0, 135, 0) !important;
        cursor: unset !important;
    }
}

.button-hide {
    display: none;
}

.book-add-form {
    display: none;

    h1 {
        margin-block: 0 !important;
    }
}

.book-add-form--display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    height: 100%;

    .form-buttons {
        text-decoration: none;
        color: white;
        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 5px;
        cursor: pointer;
        // max-width: 100px;
        // min-width: 100px;
    }

    .form-buttons:first-child {
        margin-right: 20px;
        border: 2px solid white;
    }

    .form-buttons:last-child {
        border: 2px solid red;
    }
}

.book-form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type="text"] {
    display: inline-block;
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid lightgray;
    color: white;
    transition: all 200ms ease-in-out;
    &:focus{
        outline: none;
        border-bottom-color: white;
        &::placeholder{
            color: transparent;
        }
    }

    &::placeholder{
        color: lightgray;
    }
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}


#bookdisplay_title{
    color: white;
    
}